* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 6px rgb(0, 0, 0);
}
.logo-img {
    width: 75px;
}

main {
    background-color: #ffd726c0;
    background-image: linear-gradient(#ffd413d3, #463e15e3, #000000);
}


.introducao {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.introducao-texto {
    width: 30vw;
    color: #0a0e36;
}

.imagem-introducao {
    width: 30vw;
}

@media screen and (max-width: 480px) {
    .introducao-texto {
        width: 80vw;
        text-align: center;
    }
    
    .imagem-introducao {
        display: none;
    }
}

.galeria {
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.foto {
    width: 20vw;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #252525;
}

@media screen and (max-width: 480px) {
    .galeria {
        display: flex;
        height: 700px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .foto {
        width: 80vw;
    }
}

.contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 400px;
}

.contatos--caixa {
    width: 30vw;
    color: #ffffff;
}

.contatos--localizacao {
    width: 40vw;
    color: #ffffff;
}

.localizacao {
    width: 35vw;
    height: 250px;
}

@media screen and (max-width: 480px) {
    .contatos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 550px;
        padding: 50px 0;
    }

    .contatos--caixa {
        width: 80vw;
    }

    .contatos--localizacao {
        width: 80vw;
    }
    .localizacao {
        width: 75vw;
        height: 250px;
    }
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-rodape {
    width: 60px;
}

.texto-rodape {
    margin: 0 20px;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    .logo-rodape {
        width: 50px;
    }
    .texto-rodape {
        font-size: 12px;
    }
}