* {
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 6px rgb(0, 0, 0);
}
.logo-img {
    width: 80px;
}

main {
    background-color: #ffd726c0;
    background-image: linear-gradient(#ffd413d3, #463e15e3, #000000);
}


.introducao {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.introducao-texto {
    width: 40vw;
    color: #0a0e36;
}

.imagem-introducao {
    width: 30vw;
}

.galeria {
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.foto {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #252525;
}

.contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    
    height: 400px;
}

.contatos--caixa {
    width: 30vw;
    color: #ffffff;
}

.contatos--localizacao {
    width: 40vw;
    color: #ffffff;
}

.localizacao {
    width: 39vw;
    height: 300px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-rodape {
    width: 60px;
}

.texto-rodape {
    margin: 0 20px;
}

.texto-rodape a {
    text-decoration: none;
    color: #000000;
}